<div class="footer">
    <div class="footer-sub-div-1">
        <div class="division-1">
            <div class="logo-container">
                <div>
                    <img src="../../../assets/images/logo.png" alt="">
                </div>
                <div class="title">
                    <span>MalDsAi</span>
                    <span>Technologies</span>
                </div>
            </div>
            <div class="sub-title">
                Transforming data into strategic insights with advanced analytics, machine learning, and AI solutions.
                Partner with MalDsAi for innovation and success.
            </div>
            <div class="icons-section">
                <a class="link" href=" https://www.instagram.com/maldsailaboratory?ig_shid=MXhvdnhucXl0OGNyMA%3D%3D"
                    target="_blank">
                    <i class="bi bi-instagram"></i>
                </a>
                <a class="link" href=" https://www.facebook.com/profile.php?id=61558940142247&mibextid=ZbWKwL"
                    target="_blank">
                    <i class="bi bi-facebook"></i>
                </a>
                <a class="link" href="https://x.com/maldsai" target="_blank">
                    <i class="bi bi-twitter-x"></i>
                </a>
                <a class="link" href="https://www.linkedin.com/company/maldsai-laboratory/" target="_blank">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a class="link" href="https://wa.me/919148522025" target="_blank">
                    <i class="bi bi-whatsapp"></i>
                </a>
                <a class="link" href=" https://www.youtube.com/@maldsai" target="_blank">
                    <i class="bi bi-youtube"></i>
                </a>
            </div>


        </div>
        <div class="division-2">
            <div>
                <span>Navigate</span>
                <ul>
                    <li class="link">
                        <a (click)="navigate('home')">Home</a>
                    </li>
                    <li class="link">
                        <a (click)="navigate('about-us')">About Us</a>
                    </li>
                    <li class="link">
                        <a (click)="navigate('projects')">Projects</a>
                    </li>
                    <li class="link">
                        <a (click)="navigate('services')">Services</a>
                    </li>
                    <li class="link">
                        <a (click)="navigate('careers')">Careers</a>
                    </li>
                    
                </ul>

            </div>
            <div>
                <span>Support</span>
                <ul>
                    <li class="link">
                        <a (click)="navigate('faq')">FAQ</a>
                    </li>
                    <li class="link">
                        <a (click)="navigate('contact-us')">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
        <div>

        </div>

    </div>
    <div class="footer-sub-div-2">
        <span>© MalDsAi 2024 All Rights Reserved</span>
        <span>
            <a class="link" (click)="navigate('terms-and-conditions')">Terms & Conditions </a>
            <span class="circle"></span>
            <a class="link" (click)="navigate('privacy-policy')">Privacy Policy </a>
        </span>
    </div>
</div>