<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <div class="logo " (click)="navigate('home')">
            <div>
                <img src="../../../../assets/images/logo.png" alt="Logo" width="50" height="50" />
            </div>
            <div class="ps-3">
                <span class="title">MalDsAi Technologies</span>
            </div>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-lg-flex justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" [ngClass]="{'active': currentRoute === 'home'}" (click)="navigate('home')">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [ngClass]="{'active': currentRoute === 'about-us'}" (click)="navigate('about-us')">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [ngClass]="{'active': currentRoute === 'projects'}" (click)="navigate('projects')">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [ngClass]="{'active': currentRoute === 'services'}" (click)="navigate('services')">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [ngClass]="{'active': currentRoute === 'pricing'}" (click)="navigate('pricing')">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [ngClass]="{'active': currentRoute === 'careers'}" (click)="navigate('careers')">Careers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [ngClass]="{'active': currentRoute === 'contact-us'}" (click)="navigate('contact-us')">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
