<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <div class="d-flex align-items-center" (click)="navigate('home')">
            <div>
                <img src="../../../../assets/images/logo.png" alt="Logo" width="50" height="50" />
            </div>
            <div class="ps-2">
                <span class="title">MALDSAI</span>
            </div>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-lg-flex justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" (click)="navigate('home')">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="navigate('contact-us')">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>