<div class="service-div">
    <div class="row padding">
        <div class="header-div pe-5 col-8">
            <div class="heading">
                <span>We Provide The AI Solutions For Your Company</span>
            </div>
            <div class="sub-heading">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt dolorum voluptas deserunt, officia
                quibusdam vel hic deleniti praesentium cupiditate ipsam magnam alias, veniam repellat fuga atque? Autem
                quod
                deserunt itaque?
            </div>
            <div class="button-container">
                <!-- <button class="learn-more-button">Learn More</button> -->
                <button> <a href=""><i class="bi bi-play-fill"></i> Watch Video</a></button>
                <button>Contact Us</button>
            </div>
        </div>
        <div class="image-div col-4">
            <img src="../../../assets/images/laptop.png" alt="">
        </div>
    </div>
    <div class="video-div padding">
        <div class="card">
            <div class="image">
                <img src="../../../assets/images/customer.jpg" alt="" width="100px" height="100px">
            </div>
            <div class="image-link">
                <p class="title">Our Work Process With Clients</p>
                <span class="sub-title">
                    <a href=""><i class="bi bi-play-fill"></i> Watch Video</a>
                </span>
            </div>
        </div>
        <div class="score-div ">
            <div class="score">
                <span class="head">100k+</span>
                <span class="sub-head">Subscriber</span>
            </div>
            <div class="score">
                <span class="head">100k+</span>
                <span class="sub-head">Customers</span>
            </div>
            <div class="score">
                <span class="head">95%</span>
                <span class="sub-head">Success</span>
            </div>
        </div>

    </div>
    <div class="row custom-div-1 padding">
        <div class="col-md-6 custom-div-1-1">
            <div class="main-service-div">
                <div class="color-div">
                    <img src="../../../assets/images/image1.png" alt="">
                </div>
                <div class="matter-div">
                    <p>Lorem ipsum dolor sit, ametsyuy</p>
                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, omnis veniam animi libero
                        expedita numquam</span>
                </div>
            </div>
            <div class="main-service-div">
                <div class="color-div">
                    <img src="../../../assets/images/image2.png" alt="">
                </div>
                <div class="matter-div">
                    <p>Lorem ipsum dolor sit, ametsyuy</p>
                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, omnis veniam animi libero
                        expedita numquam</span>
                </div>
            </div>
            <div class="main-service-div">
                <div class="color-div">
                    <img src="../../../assets/images/image3.png" alt="">
                </div>
                <div class="matter-div">
                    <p>Lorem ipsum dolor sit, ametsyuy</p>
                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, omnis veniam animi libero
                        expedita numquam</span>
                </div>
            </div>
        </div>
        <div class="col-md-6 header-div">
            <div class="heading">
                <span>The Perfect Solution For All AI Services Questions</span>
            </div>
            <div class="sub-heading">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt dolorum voluptas deserunt, officia
            </div>
            <div class="mt-4 check-marks">
                <p><i class="bi bi-check2"></i> Lorem ipsum dolor sit amet.</p>
                <p><i class="bi bi-check2"></i> Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="button-container">
                <button class="learn-more-button">Learn More</button>
                <button>Contact Us</button>
            </div>
        </div>
    </div>
    <div class="custom-div-2 padding">
        <p>We Help Client Around The World..!</p>
        <div class="place-div">
            <div class="place-div-1">
                <img src="../../../assets/images/place1.png" alt="">
                <span>India</span>
            </div>
            <div class="place-div-1">
                <img src="../../../assets/images/place2.png" alt="">
                <span>UK</span>
            </div>
        </div>
    </div>
    <div class="custom-div-3 padding" id="aiServicesSection">
        <div class="header-div">
            <div class="heading">
                <span>Our AI Services & Tools</span>
            </div>
            <div class="sub-heading">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet possimus, amet quibusdam reprehenderit
                dolorem aut dolorum tempore. Quas tenetur alias neque nesciunt harum minus impedit itaque et, maiores ut
                nostrum.
            </div>
        </div>
        <div class="cards-div">
            <div class="card" *ngFor="let card of cards">
                <div class="mb-4 image-div">
                    <img src="../../../assets/images/agriculture.jpg" alt="">
                </div>
                <div class="card-title">
                    <span>{{ card.title }}</span>
                </div>
                <div class="card-content">
                    <span>{{ card.content }}</span>
                </div>
                <div class="button-div">
                    <button type="button" (click)="goToServiceDetails(card.routeName)">Know More</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row custom-div-4 padding">
        <div class="header-div  col-8">
            <div class="heading">
                <span>We Have Been Certified And Trusted By 50+ Clients</span>
            </div>
            <div class="sub-heading">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt dolorum voluptas deserunt, officia
                quibusdam vel hic deleniti praesentium cupiditate ipsam magnam alias, veniam repellat fuga atque? Autem
                quod
                deserunt itaque?
            </div>
            <div class="button-container">
                <button>Learn More</button>
                <button> <a href=""><i class="bi bi-play-fill"></i> Watch Video</a></button>
            </div>
        </div>
        <div class="image-div col-4">
            <img src="../../../assets/images/main1.png" alt="">
        </div>
    </div>

    <div class="row custom-div-5 padding">
        <div class="image-div col-4">
            <img src="../../../assets/images/main1.png" alt="">
        </div>
        <div class="header-div  col-8">
            <div class="heading">
                <span>Provide The Best AI Services For Your Needs</span>
            </div>
            <div class="sub-heading">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt dolorum voluptas deserunt, officia
                quibusdam vel hic deleniti praesentium cupiditate ipsam magnam alias, veniam repellat fuga atque? Autem
                quod
                deserunt itaque?
            </div>
            <div class="mt-4 check-marks">
                <p><i class="bi bi-check2"></i> Lorem ipsum dolor sit amet.</p>
                <p><i class="bi bi-check2"></i> Lorem ipsum dolor sit amet.</p>
                <p><i class="bi bi-check2"></i> Lorem ipsum dolor sit amet.</p>
            </div>

        </div>

    </div>

    <div class="faq padding mb-5">
        <app-faq></app-faq>
    </div>



</div>