<div class="container-special" id="CODEVEMBER">
    <div class="sky">
        <div class="stars"></div>
        <div class="stars1"></div>
        <div class="stars2"></div>
        <div class="shooting-stars"></div>
        <div class="shooting-stars-2"></div>
        <div class="shooting-stars-3"></div>
    </div>
</div>

<div class="banner-div">
  <div class="title-div">
    <span class="title">{{ title }}</span>
    <span class="sub-title">{{ subtitle }}</span>
    <div class="button-container">
      <button class="btn-start">Get in Touch</button>
      <button class="btn-demo" (click)="openScheduleDemoDialog()">Schedule a Demo</button>
    </div>
  </div>
  <div class="image-div">
    <img [src]="imageUrl" alt="Banner Image">
  </div>
</div>


