<div class="main-banner-area">
    <div class="banner-text">
        <h1>Turn Your Documents Into Data With AI</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
            gravida risus commodo</p>
        <div class="buttons">
            <a href="/about-us">Learn More</a>
            <a href="/contact-us" class="active">Contact Us</a>
        </div>
    </div>
    <div class="banner-image">
        <img src="../../../assets/images/home.png" alt="home-banner-image">
    </div>
</div>
<div class="about-area">
    <div class="about-image">
        <img src="../../../assets/images/about-img.png" alt="home-banner-image">
    </div>
    <div class="about-text">
        <span>About Us</span>
        <h2>We Complete Every Project With Extra Care As Customer Need</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel.
        </p>
        <div class="row">
            <div class="col-lg-6">
                <ul>
                    <li><i class="bi bi-check-lg"></i>Advanced caching</li>
                    <li><i class="bi bi-check-lg"></i>Unlimited applications</li>
                    <li><i class="bi bi-check-lg"></i>PHP 7 ready transfer</li>
                </ul>
            </div>
            <div class="col-lg-6">
                <ul>
                    <li><i class="bi bi-check-lg"></i>PHP ready serves</li>
                    <li><i class="bi bi-check-lg"></i>24/7 Free extra support</li>
                    <li><i class="bi bi-check-lg"></i>Optimized stack</li>
                </ul>
            </div>
        </div>
        <div class="buttons">
            <a href="/about-us">Learn More</a>
        </div>
    </div>
</div>
<div class="service-area">
    <div class="service-text">
        <span>Services</span>
        <h2>Our Professional Services For You</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure architecto quaerat eaque sapiente accusantium
            ad ut explicabo consequuntur fuga quidem? Sint.</p>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-4 col-sm-6 ">
            <div class="service-card">
                <i class="bi bi-journal-text"></i>
                <h3><a href="/service-details/">Robotics &amp; Drones</a></h3>
                <p>Lorem consectetur ipsum dolor sit amet, adipiscing elit, do eiusmod tempor incididunt sed.</p>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 ">
            <div class="service-card">
                <i class="bi bi-journal-text"></i>
                <h3><a href="/service-details/">Robotics &amp; Drones</a></h3>
                <p>Lorem consectetur ipsum dolor sit amet, adipiscing elit, do eiusmod tempor incididunt sed.</p>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 ">
            <div class="service-card">
                <i class="bi bi-journal-text"></i>
                <h3><a href="/service-details/">Order Management</a></h3>
                <p>Lorem consectetur ipsum dolor sit amet, adipiscing elit, do eiusmod tempor incididunt sed.</p>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 ">
            <div class="service-card">
                <i class="bi bi-journal-text"></i>
                <h3><a href="/service-details/">Virtually Reality</a></h3>
                <p>Lorem consectetur ipsum dolor sit amet, adipiscing elit, do eiusmod tempor incididunt sed.</p>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 ">
            <div class="service-card">
                <i class="bi bi-journal-text"></i>
                <h3><a href="/service-details/">Blockchain Project</a></h3>
                <p>Lorem consectetur ipsum dolor sit amet, adipiscing elit, do eiusmod tempor incididunt sed.</p>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 ">
            <div class="service-card">
                <i class="bi bi-journal-text"></i>
                <h3><a href="/service-details/">Image Processing</a></h3>
                <p>Lorem consectetur ipsum dolor sit amet, adipiscing elit, do eiusmod tempor incididunt sed.</p>
            </div>
        </div>
    </div>
</div>
<div class="choose-us-area">
    <div class="choose-title">
        <span>Why Choose Us</span>
        <h2>Our Platform Takes Away The Hard Process Of Creating Your Website</h2>
    </div>
    <div class="row align-items-center">
        <div class="col-lg-6">
            <div class="choose-card">
                <span>01</span>
                <h3>Safe Security</h3>
                <p>Lorem ipsum dolor sit labore amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
            </div>
            <div class="choose-card">
                <span>02</span>
                <h3>Technical Support</h3>
                <p>Lorem ipsum dolor sit labore amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
            </div>
            <div class="choose-card">
                <span>03</span>
                <h3>Live Support</h3>
                <p>Lorem ipsum dolor sit labore amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="choose-img">
                <img src="../../../assets/images/choose-img.png" alt="Image">
            </div>
        </div>
    </div>
</div>
<div class="case-area">
    <div class="choose-title">
        <span>Why Choose Us</span>
        <h2>Our Recent Case Studies</h2>
    </div>
    <div class="row justify-content-center scrollable">
        <div class="col-lg-4 col-sm-6 ">
            <div class="service-card">
                <div class="card-header">
                    <img src="../../../assets/images/case-studeis.png" alt="">
                </div>
                <h3><a href="/service-details/">Robotics &amp; Drones</a></h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum corporis, iusto aperiam minima
                    non quos quae quod perferendis molestiae explicabo facilis nulla, qui tempore nisi. Labore ex ipsa
                    rerum tempora velit blanditiis quia! Excepturi voluptate nostrum doloribus corrupti earum quaerat
                    magnam repudiandae harum dolorum recusandae eos culpa exercitationem, magni quos!</p>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 ">
            <div class="service-card">
                <div class="card-header">
                    <img src="../../../assets/images/case-studeis.png" alt="">
                </div>
                <h3><a href="/service-details/">Robotics &amp; Drones</a></h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum corporis, iusto aperiam minima
                    non quos quae quod perferendis molestiae explicabo facilis nulla, qui tempore nisi. Labore ex ipsa
                    rerum tempora velit blanditiis quia! Excepturi voluptate nostrum doloribus corrupti earum quaerat
                    magnam repudiandae harum dolorum recusandae eos culpa exercitationem, magni quos!</p>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 ">
            <div class="service-card">
                <div class="card-header">
                    <img src="../../../assets/images/case-studeis.png" alt="">
                </div>
                <h3><a href="/service-details/">Robotics &amp; Drones</a></h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum corporis, iusto aperiam minima
                    non quos quae quod perferendis molestiae explicabo facilis nulla, qui tempore nisi. Labore ex ipsa
                    rerum tempora velit blanditiis quia! Excepturi voluptate nostrum doloribus corrupti earum quaerat
                    magnam repudiandae harum dolorum recusandae eos culpa exercitationem, magni quos!</p>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 ">
            <div class="service-card">
                <div class="card-header">
                    <img src="../../../assets/images/case-studeis.png" alt="">
                </div>
                <h3><a href="/service-details/">Robotics &amp; Drones</a></h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum corporis, iusto aperiam minima
                    non quos quae quod perferendis molestiae explicabo facilis nulla, qui tempore nisi. Labore ex ipsa
                    rerum tempora velit blanditiis quia! Excepturi voluptate nostrum doloribus corrupti earum quaerat
                    magnam repudiandae harum dolorum recusandae eos culpa exercitationem, magni quos!</p>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 ">
            <div class="service-card">
                <div class="card-header">
                    <img src="../../../assets/images/case-studeis.png" alt="">
                </div>
                <h3><a href="/service-details/">Robotics &amp; Drones</a></h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum corporis, iusto aperiam minima
                    non quos quae quod perferendis molestiae explicabo facilis nulla, qui tempore nisi. Labore ex ipsa
                    rerum tempora velit blanditiis quia! Excepturi voluptate nostrum doloribus corrupti earum quaerat
                    magnam repudiandae harum dolorum recusandae eos culpa exercitationem, magni quos!</p>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 ">
            <div class="service-card">
                <div class="card-header">
                    <img src="../../../assets/images/case-studeis.png" alt="">
                </div>
                <h3><a href="/service-details/">Robotics &amp; Drones</a></h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum corporis, iusto aperiam minima
                    non quos quae quod perferendis molestiae explicabo facilis nulla, qui tempore nisi. Labore ex ipsa
                    rerum tempora velit blanditiis quia! Excepturi voluptate nostrum doloribus corrupti earum quaerat
                    magnam repudiandae harum dolorum recusandae eos culpa exercitationem, magni quos!</p>
            </div>
        </div>
    </div>
    <div class="swiper-pagination">
        <span class="swiper-pagination-bullet"></span>
        <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
    </div>
</div>