<div class="header-div">
    <!-- <div class="image-div">
        <img src="../../../assets/images/agriculture.jpg" alt="">
    </div> -->
    <div class="heading">
        <span>Lorem ipsum, dolor sit amet consectetur
        </span>
    </div>
    <div class="sub-heading">
        <span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque numquam distinctio ipsa necessitatibus
            architecto cupiditate est repellat sunt et ea. Natus corrupti, consectetur aliquid laudantium,
            repellendus
            sunt quaerat aspernatur totam fugiat eos facere eum sed sapiente deserunt rerum debitis deleniti veniam
            suscipit modi architecto. Explicabo, velit! Eaque laborum eum molestias ratione repellendus dolor
            excepturi
            tempora, iure, non deserunt illo a delectus dignissimos. Enim blanditiis excepturi voluptatum et aliquam
            quod dignissimos iure inventore dolor, illum fuga corporis cumque nobis numquam ducimus nemo aspernatur
            tempora quaerat qui, dolorum neque ea expedita. Eum ipsum distinctio dolor et consectetur tempora. Saepe
            quos animi illo temporibus. Quasi, cum facere a delectus ullam placeat molestias atque mollitia illo
            quae
            praesentium dicta dignissimos suscipit harum optio. Praesentium quam provident quasi. Adipisci expedita
            ut
            cupiditate ex labore maxime? Amet sed temporibus quaerat eum maxime harum, alias, sequi facere pariatur
            perferendis laudantium aut nostrum deleniti inventore. Velit, quam magni tempore quis molestias
            corrupti repellendus iste perspiciatis neque praesentium facilis commodi a odio nihil nesciunt? Ipsa
            similique, voluptate quia quod temporibus voluptatum fuga cum sapiente sit maxime corrupti asperiores
            aliquam vero voluptatem nam recusandae cupiditate tenetur deleniti error perferendis itaque in expedita
            repudiandae.</span>
    </div>
    <div class="button-container">
        <button>Contact Us</button>
        <button> <a href=""><i class="bi bi-play-fill"></i> Watch Video</a></button>
    </div>
</div>

<!-- <div class="row custom-div-4">
    <div class="image-div col-4">
        <img src="../../../assets/images/main1.png" alt="">
    </div>
    <div class="header-div  col-8">
        <div class="heading">
            <span>Benefits Best AI Services</span>
        </div>
        <div class="sub-heading">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt dolorum voluptas deserunt, officia
            quibusdam vel hic deleniti praesentium cupiditate ipsam magnam alias, veniam repellat fuga atque? Autem
            quod
            deserunt itaque?
        </div>
        <div class="mt-4 check-marks">
            <p><i class="bi bi-check2"></i> Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi ex
                quaerat ut? Aperiam velit id debitis beatae rem modi impedit dolor temporibus. Sint quaerat nam
                atque nobis eveniet quo maiores!</p>
            <p><i class="bi bi-check2"></i> Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi ex
                quaerat ut? Aperiam velit id debitis beatae rem modi impedit dolor temporibus. Sint quaerat nam
                atque nobis eveniet quo maiores!</p>
            <p><i class="bi bi-check2"></i> Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi ex
                quaerat ut? Aperiam velit id debitis beatae rem modi impedit dolor temporibus. Sint quaerat nam
                atque nobis eveniet quo maiores!</p>
        </div>

    </div>

</div>


<div class="row custom-div-5">

    <div class="header-div  col-8">
        <div class="heading">
            <span>Key Features AI Services For Your Needs</span>
        </div>
        <div class="sub-heading">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt dolorum voluptas deserunt, officia
            quibusdam vel hic deleniti praesentium cupiditate ipsam magnam alias, veniam repellat fuga atque? Autem
            quod
            deserunt itaque?
        </div>
        <div class="mt-4 check-marks">
            <p><i class="bi bi-check2"></i> Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi ex
                quaerat ut? Aperiam velit id debitis beatae rem modi impedit dolor temporibus. Sint quaerat nam
                atque nobis eveniet quo maiores!</p>
            <p><i class="bi bi-check2"></i> Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi ex
                quaerat ut? Aperiam velit id debitis beatae rem modi impedit dolor temporibus. Sint quaerat nam
                atque nobis eveniet quo maiores!</p>
            <p><i class="bi bi-check2"></i> Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi ex
                quaerat ut? Aperiam velit id debitis beatae rem modi impedit dolor temporibus. Sint quaerat nam
                atque nobis eveniet quo maiores!</p>
        </div>

    </div>
    <div class="image-div col-4">
        <img src="../../../assets/images/main1.png" alt="">
    </div>

</div> -->



<div class="custom-div-3" id="aiServicesSection">
    <div class="header-div">
        <div class="heading">
            <span>Other AI Services & Tools</span>
        </div>
        <div class="sub-heading">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet possimus, amet quibusdam reprehenderit
            dolorem aut dolorum tempore. Quas tenetur alias neque nesciunt harum minus impedit itaque et, maiores ut
            nostrum.
        </div>
    </div>
    <div class="cards-div">
        <div class="card" *ngFor="let card of cards">
            <div class="mb-4 image-div">
                <img src="../../../assets/images/agriculture.jpg" alt="">
            </div>
            <div class="card-title">
                <span>{{ card.title }}</span>
            </div>
            <div class="card-content">
                <span>{{ card.content }}</span>
            </div>
            <div class="button-div">
                <button type="button" (click)="goToServiceDetails(card.routeName)">Know More</button>
            </div>
        </div>
    </div>
</div>


<div class="why-div ">
    <div class="card">
        <div class="heading">
            <span>Why Choose Us?
            </span>
        </div>
        <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae quos voluptates ducimus asperiores
            repellat in consequatur, ad rerum officiis nam dolores amet exercitationem quasi dolorem fugiat
            accusantium
            sapiente minima ea neque possimus. Qui tenetur culpa nesciunt repellat hic aliquam suscipit deserunt
            saepe
            sed, at error? Minus tempore veritatis expedita soluta.
        </div>
    </div>
</div>


<div class="faq-div">
    <app-faq></app-faq>
</div>