@import "../assets/_partials/colors";

.main-class {
    background-color: $color-primary-2;
    color: $color-primary-6;

    .fixed-top {
        z-index: 1000 !important;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100vh;

        .content {
            // height: 100vh !important;
            padding: 15px 15px;
            padding-bottom: 0px !important;
            margin-top: 60px !important;
            flex: 1;
            overflow-y: auto;
            display: flex;
    
    
            @media (max-width: 992px) {
                padding-top: 15px !important;
            }
    
            overflow: scroll;
    
            &::-webkit-scrollbar {
                display: none;
            }
        }
    
    }




    // .app-footer {
    //     margin-top: auto !important;
    // }

 

    // html,
    // body {
    //     scroll-behavior: auto !important;

    // }
}