<div class="container-special" id="CODEVEMBER">
    <div class="sky">
        <div class="stars"></div>
        <div class="stars1"></div>
        <div class="stars2"></div>
        <div class="shooting-stars"></div>
        <div class="shooting-stars-2"></div>
        <div class="shooting-stars-3"></div>
    </div>
</div>


<div class="service-div">
    <div class="title-div">
        <span class="title">Services at MalDsAI Technologies</span>
        <span class="sub-title">
            Explore our AI-powered solutions for healthcare, supply chain, customer service, agriculture,
            climate, construction, retail, finance, energy, education, transportation, custom software, and expert
            consultation.
        </span>
        <div class="button-container">
            <button class="btn-start">Get Started</button>
            <button class="btn-demo" (click)="openScheduleDemoDialog()" >Schedule a Demo</button>
        </div>
    </div>
    <div class="image-div">
        <img src="../../../assets/images/laptop.png" alt="AI Solutions">
    </div>
</div>
